<html>
<head>
    <title>Places I've Been</title>
</head>
<body>
    <h1>You created a place!</h1>
    <p>{{ newplace.getCiudad }}</p>
        <ul>
            <li>{{ newplace.getDuration }}</li>
        </ul>
    <p><a href='/'>View your list of places.</a></p>
</body>
<html>
